* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	color: #333447;
}

.content {
	width: 100%;
	height: 400px;
}

#vid {
	width: 100%;
	position: relative;
	z-index: 0;
	background-color: rgba(255, 255, 255, 0)
}

#page-1 {
background: rgb(43,30,102);
background: -moz-linear-gradient(top, rgba(43,30,102,1) 0%, rgba(118,39,143,1) 99%);
background: -webkit-linear-gradient(top, rgba(43,30,102,1) 0%,rgba(118,39,143,1) 99%);
background: linear-gradient(to bottom, rgba(43,30,102,1) 0%,rgba(118,39,143,1) 99%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b1e66', endColorstr='#76278f',GradientType=0 );
background-repeat: no-repeat;
background-size: cover;
}

video {
	background-size: cover;
	bottom: 0;
	height: auto;
	min-height: 100%;
	min-width: 100%;
	position: fixed;
	right: 0;
	width: auto;
	z-index: -100;
}

.hidden {
	display: none;
}

.error {
	margin-left: -30px;
	width: 25px;
}

nav {
 top: 0;
 position: fixed;
 width: 100%;
 height: 100px;
 z-index: 3000;
 background-color: #fff;
 color: #333447;
}

li, ul, a {
	text-decoration: none;
 	color: #333447;
	font-size: 20px;
	font-weight: 100;
}

nav li {
	display: inline-block;
	margin-left: 45px;
}

.nav-white {
	background-color: #fff;
	color: #333447;
}

nav #login {
	border: 1px solid #333447;
	padding: 10px;
	border-radius: 5px;
}

p {
	margin: 20px 0;
}

a:hover {
	color: #FF00BF;
}

input {
	margin: 10px auto;
	width: 80%;
	border: none;
	border-bottom: 1px solid #352384;
	height: 50px;
}

input[type="submit"] {
	border: none;
	padding: auto;
	color: #fff;
	background-color: #FF00BF;
	border-radius: 8px;
	width: 170px;
	font-size: 16px;
}

#logo {
	margin-top: 40px;
	margin-left: 80px;
	float: left;
}

#logo img {
	width: 60px;
}

#opc-nav {
	float: right;
	margin-top: 43px;
	margin-right: 80px;
	width: 525px;
}

form {
	position: relative;
	width: 40%;
	top: 100px;
	float: right;
	background-color: #fff;
	box-sizing: border-box;
	padding: 60px;
}

h1 {
	font-size: 40px;
	color: #352384;
	font-weight: 900;
}

h4 {
	color: #352384;
	font-weight: 100;
}

.gray {
	color: #728099;
}

.pink {
	color: #FF00BF;
}

p.gray {
	font-size: 10px;
	margin: 10px 0;
}

#phone {
	position: relative;
	top: 199px;
	width: 100%;
	min-height: 500px;
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0);
}

#phone div {
	display: inline-block;
}

#phone h2,
#phone p {
	color: #fff;
}

.left {
	margin-left: 12%;
	width: 35%;
	float: left;
	color: #fff;
}

.right {
	width: 50%;
	float: right;
}

.right img {
	width: 70%;
}

#watch-1 {
	background-color: #fff;
	position: relative;
	top: 749px;
	width: 100%;
	overflow: hidden;
}

#watch-1 .left {
	margin: 70px 60px;
	width: 20%;
}

#watch-1 .right {
	margin-top: 0;
	margin-right: 0;
	width: 70%;
}

.video-div {
position: relative;
padding-bottom: 56.25%;
overflow: hidden;
}

.video-div iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

#june {
	background-color: #fff;
	position: relative;
	top: 750px;
	width: 100%;
	overflow: hidden;
}

#june .left {
	margin-left: 0;
	width: 60%;
	height: 3px;
}

#june .right {
	margin: 30px 120px;
	margin-right: 0;
	height: 100%;
	width: 30%
}

#watch-3 {
	background-color: #fff;
	position: relative;
	width: 100%;
	top: 750px;
	height: 900px;
	overflow: hidden;
}

#watch-3 .left {
	margin: 30px 130px;
	width: 40%;
	float: left;
}

#watch-3 .right {
	margin-right: 0;
	width: 40%;
	float: right;
}

footer {
	position: relative;
	top: 2250px;
	background-color: #333447;
	z-index: 100;
	height: 550px;
}

footer div {
	margin-top: 60px;
	display: inline-block;
}

footer a {
	color: #fff;
	text-decoration: none;
	margin: 30px 0;
	display: block;
	cursor: pointer;
}

footer a:hover {
		color: #FF00BF;
}

footer h4 {
	color: #fff;
	margin: 30px 0;
	display: block;
}

footer img {
	width: 160px;
	height: 47px;
}

#center {
	margin-top: -100px;
	text-align: center;
}

#center a,
#center span {
	display: inline-block;
	color: #fff;
}

#center span {
	font-size: 40px;
}
